<nav class="navbar fixed-bottom navbar-inverse bg-inverse">
  <div class="nav-item">
    <span class="cool-font mod"><a href="https://www.soinc.org/">Find out more about Science Olympiad</a></span>
  </div>
</nav>