
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-inverse p-4">
        <div class="row">
          <div class="col-md-4">
            <h4 class="instruct">Navigate our site</h4>
            
            <p class="nav-text">
              This is a site built to help Science Olympiad competitors with geology themed events. This includes Rocks and Minerals, Geological Mapping, Dynamic Planet, Hydrogeology and Remote Senseing. I know it's a little niche but I'm really passionate about these sorts of events and too often I see students not knowing where to start for information. This is a launching platform.  
            </p>
          </div>
          <div class="col-md-2">
            <div class= "nav-item">
              <span class="cool-font"><%= link_to "Home", root_path %></span>
            </div>
            <div class= "nav-item">
              <span class="cool-font"><%= link_to "Useful Links", pics_path %></span>
            </div>
            <div class= "nav-item">
              <span class="cool-font"><%= link_to "Events", events_path %></span>
            </div>
            <div class= "nav-item">
              <span class="cool-font"><%= link_to "About", about_path %></span>
            </div> 
          </div>
          <div class="col-md-6">
            <h1 class="banner">Rocks And Minerals Rule!</h1>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-inverse bg-inverse">

      <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span ></span>
      </button>
      
    </nav>
  </div>
